.App {
  display: flex;
  justify-content: center;
  height: 100%;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 142, 141, 0.4);
}

.WelcomeHeader {
  background-color: rgba(97, 142, 141, 0.4);
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
  margin-top: 0 auto;
  padding-top: 50px;
}

.Header {
  background-color: rgba(97, 142, 141, 0.4);
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-top: 0 auto;
  padding-top: 50px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.react-icons {
  vertical-align: middle;
  size: 5em;
}
svg {
  height: 3em;
  width: 3em;
}

.Welcome {
  margin-top: -170px;
  padding: 0 20px 0 20px;
}

.Container footer {
  background-color: rgba(97, 142, 141, 0.4);
}

.About {
  width: 60%;
  margin: 30px;
}
.Rules {
  width: 60%;
  padding: 20px;
}
